# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Exercícios</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.11.2

## Exercícios

In [2]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [1]:
lista = list(range(1,11))
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [4]:
lista2 = ['A', 'B', 'C', 'D', 'E']
lista2

['A', 'B', 'C', 'D', 'E']

In [4]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [5]:
string1 = 'banana'
string2 = 'maçã'
string3 = string1 + string2
string3

'bananamaçã'

In [5]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [6]:
num = (1,2,2,3,4,4,4,5)
num.count(4)

3

In [6]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [7]:
dicionario = {}
dicionario

{}

In [7]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [8]:
dicionario2 = {'key1':1, 'key2':2, 'key3': 3}
dicionario2

{'key1': 1, 'key2': 2, 'key3': 3}

In [8]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [9]:
dicionario2['key4'] = 4
dicionario2

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [9]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [10]:
dicionario3 = {'key1':1, 'key2':2, 'key3':[3,4]}
dicionario3

{'key1': 1, 'key2': 2, 'key3': [3, 4]}

In [10]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.

In [11]:
lista3 = ['elem1', (2,3), {'key1':1, 'key2':2}, 8.5]
lista3

['elem1', (2, 3), {'key1': 1, 'key2': 2}, 8.5]

In [13]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [15]:
frase[0:18]

'Cientista de Dados'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>